<section>
    <article class="blog-header">
        <h1>Blog</h1>
        <p><a href="#/">Home</a> | <a href="#blog">Blog</a></p>
    </article>
    <article class="blog-post" ng-repeat="post in posts">
        <div class="container-div">
            <div class="blog-video">
                <iframe width="420" height="315" src="{{post.VideoUrl}}" frameborder="0" align="middle"></iframe>
            </div>
            <div>
                <h1>{{post.$id}}</h1>
                <p>03/18/16</p>
                <p>{{post.Description}}</p>
            </div>
        </div>
    </article>
</section>