<!--
 Author: Drew Atkison
 Page: Home page    
 All Rights Reserved
-->

<!-- Image Carousel -->
<article>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div>This is another slide</div>
                <div class="carousel-caption">
                    <h1>Welcome to my new REVAMPED Portfolio!</h1>
                    <a class="btn-one" href="">My porfolio</a>
                    <a class="btn-two" href="">video blog</a>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption">

                </div>
            </div>
        </div>
</article>

<!-- Video welcoming people to the site -->
<article class="home-video">
    <iframe src="https://www.youtube.com/embed/J7gLPPEEnMY" frameborder="0" align="middle"></iframe>
</article>

<article class="area-3">
    <div class="about-container">
        <div class="about-me-1 col-md-6">
            <img class="img-responsive drew" ng-src="{{userPicture}}" />
        </div>
        <div class="about-me-2 col-md-6">
            <p class="subline">Drew Atkison's Portfolio</p>
            <h3>About Me</h3>
            <p class="desc col-md-8">Hello! My name is Drew Atkison. A couple things right off the back. Firstly, if you need a developer, I am your man. Secondly, welcome to my site. Check out my portfolio to see my work, and check out my blog for quick video tutorials or anything
                really that I post! Thanks!</p>
            <a class="resume-btn col-md-8">Download Resume</a>
        </div>
    </div>
</article>

<article class="area-4">
    <p class="subtitle">Site Details</p>
    <div class="details-1">
        <h3>How was this site created?</h3>
        <p class="col-md-3"><i class="fa fa-mobile"></i> Bootstrap</p>
        <p class="col-md-3">AngularJS</p>
        <p class="col-md-3"><i class="fa fa-html5"></i> HTML5</p>
        <p class="col-md-3"><i class="fa fa-css3"></i> CSS3</p>
    </div>
    <div class="details-2">
        <h3 class="text-center">Goal when creating this site</h3>
        <p class="text-center">I wanted to create somthing that stretched my web development ability and also to create a working example of the kind of work that I do!</p>
    </div>
</article>