<article class="blog-header">
    <h1>Html Tutorials</h1>
    <p><a href="#/">Home</a> | <a href="#tutorials">Tutorials</a> | <a href="#tutorials/html">HTML</a></p>
</article>

<article class="html-article">
    <div class="sort-element">
        <div class="input-group col-md-offset-3 col-md-6 col-xs-12">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
    <div class="content">
        <aside class="html-navigation col-md-offset-1 col-md-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">List of HTML tutorials</h1>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Beginning HTML</li>
                        <li>HTML</li>
                        <li>HTML</li>
                        <li>HTML</li>
                        <li>HTML</li>
                        <li>HTML</li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="col-md-6 col-md-offset-1">
            <div class="card-tutorial">
                <div class="card-header">
                    <h1 class="text-center">Beginning HTML - VID 3</h1>
                </div>
                <div class="card-body">
                    <iframe src="https://www.youtube.com/embed/J7gLPPEEnMY" frameborder="0" align="middle"></iframe>
                </div>
            </div>
        </div>
    </div>
</article>